<body>
<div id="imagesbottom">
    <li class="flex-item2"><%= link_to image_tag("Film_rotten_eggs_v1.png")%>
    <li class="flex-item3"><%= link_to image_tag("Rotten_Eggs_v2.png")%>
    <li class="flex-item4"><%= link_to image_tag("Film_rotten_eggs_v1")%>
</div>
<br>
<div class="navigation">
  <ul class="">
        <li class=""><a href="./index">Home</a></li>
        <li class=""><a href="./film">All Movies</a></li>
        <li class=""><a href="./contact">Contact</a></li>
    </ul>
</div>

<ul class="imagestop">
  <li class="flex-item"><%= link_to image_tag("1.png"), href: "LINKfilm1" %>
  <li class="flex-item"><%= link_to image_tag("2.png"), href: "LINKfilm1" %>
  <li class="flex-item"><%= link_to image_tag("3.png"), href: "LINKfilm1" %>
  <li class="flex-item"><%= link_to image_tag("4.png"), href: "LINKfilm1" %>
  <li class="flex-item"><%= link_to image_tag("5.png"), href: "LINKfilm1" %>
</ul>


<ul class="imagesbottom">
  <li class="flex-item">  <%= link_to image_tag("6.png"), href: "LINKfilm1" %>
  <li class="flex-item">  <%= link_to image_tag("7.png"), href: "LINKfilm1" %>
  <li class="flex-item">  <%= link_to image_tag("8.png"), href: "LINKfilm1" %>
  <li class="flex-item">  <%= link_to image_tag("9.png"), href: "LINKfilm1" %>
  <li class="flex-item">  <%= link_to image_tag("10.png"), href: "LINKfilm1" %>
</ul>
</body>
