<<<<<<< HEAD
<h1>Film page</h1>
<%= @films.name %>
<br  />

<%= @posts.name %>
<br  />
<%= @posts.title %>
<br />
<%= @posts.content %>
=======
<h1><%= @films.name %></h1>
<p><%= @films.description %></p>
>>>>>>> master
