<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 9f1bac711e235e7d89a72923eb22c6299d006e7b
<h1>Film page</h1>
<%= @films.name %>
<br  />

<<<<<<< HEAD
=======
<h1><%= @films.name %></h1>
<p><%= @films.description %></p>

>>>>>>> 9f1bac711e235e7d89a72923eb22c6299d006e7b
<%= @posts.name %>
<br  />
<%= @posts.title %>
<br />
<%= @posts.content %>
=======
<<<<<<< HEAD
<h1><%= @films.name %></h1>
<p><%= @films.description %></p>
>>>>>>> master
=======
>>>>>>> 9f1bac711e235e7d89a72923eb22c6299d006e7b
